<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vihaan.testapilevel14" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />   // optional but highly recommended

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.vihaan.testapilevel14.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.vihaan.testapilevel14.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="LOCALYTICS_APP_KEY" android:value="7ecbe19129abd75c6190bc4-b26c20a2-765e-11e5-c2bb-0013a62af900"/>


        <!--<receiver
            android:name="com.vihaan.testapilevel14.CustomPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.vihaan.testapilevel14" />
            </intent-filter>
        </receiver>-->


        <receiver
            android:name="com.localytics.android.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.vihaan.testapilevel14" />
            </intent-filter>
        </receiver>

        <activity android:name="com.localytics.android.PushTrackingActivity"/>


        <receiver android:name="com.localytics.android.ReferralReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
